# Shopware specific
/var/
/var/cache/
/var/log/
/public/bundles/
/public/media/
/public/theme/
/public/thumbnail/
/config/jwt/
/config/packages/
/vendor/
.env
.env.local
.phpunit.result.cache

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Composer
composer.lock

# Node.js
/node_modules/
/public/build/
package-lock.json

# Environment
.env.*
!.env.example

# Docker
mysql/ 